html, body {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}

 body {
 	background-color: #1a1a1a;
 	color: white;
	font-family: system-ui, monospace, Gadget, sans-serif;
 }

 .main-card {
 	background-color: #2c2c2c;
 	border-radius: 10px;
 	padding: 30px;
 }

 canvas {
 	background: #00000022;
 	border-radius: 10px;
	width: 100%;
	height: auto;
 }


.trade-table {
	width: 100%;
	border-collapse: collapse;
}

.trade-table th {
	text-align: left;
	padding: 5px;
	background-color: #333;
	border-bottom: 1px solid #555;
}

.trade-table td {
	/* padding: 5px;
	border-bottom: 1px solid #444; */
	text-align: left;
	font-size: 12px;
}

.trade-table tr:nth-child(odd) {
	background-color: #2a2a2a;
}

.trade-table tr:nth-child(even) {
	background-color: #1f1f1f;
}

.trade-table .buy {
	color: #4caf50;
	/* Verde per acquisto */
}

.trade-table .sell {
	color: #f44336;
	/* Rosso per vendita */
}

.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}

/* Style per il prezzo minimo e massimo */
.lowPrice {
	color: #f44336;
	/* Rosso per il massimo (vendita, negativo) */
	font-size: 1rem;
	padding: 4px 0;
}

.highPrice {
	color: #4caf50;
	/* Verde per il minimo (acquisto, positivo) */
	font-size: 1rem;
	padding: 4px 0;
}

/* Stile per migliorare la visualizzazione in colonna */
.stats-section .col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.stats-section .text-left,
.stats-section .text-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Migliora il layout per schermi piccoli */
@media (max-width: 768px) {
	.stats-section .row {
		flex-direction: column;
		align-items: flex-start;
	}

	.stats-section .text-left,
	.stats-section .text-right {
		justify-content: flex-start;
	}
}