html, body {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}

body {
	background-color: #212529;
	color: #2a921e;
	font-family: system-ui, monospace, Gadget, sans-serif;
	width: 100%
}
.container {
    text-align: center;
}

.container table {
    margin: auto;
}

.left-div {
    
    width: 60%;
    float: left;
}

.right-div {
    
    width: 40%;
    float: right;
}

.clear {
    clear: both;
}

.fa-xl {
    color: #f2a900;
    font-size: 6vw;
}

/** ORDERS */
.scrollable {
    overflow-y: hidden;
    height: 200px;
}

.lowPrice {
    color: #e52e71;
}

.highPrice {
    color: #50e3c2;
}

.sell {
    color: red;
}

.buy {
    color: green;
}

.valueTd {
    text-align: right;
}
.amountTd {
    text-align: left;
}

.vertical-align {
    display: flex;
    align-items: center;
    vertical-align: middle;
    
}

.progress-bar {
    width: 0%;
    height: 10px;
    background: linear-gradient(to right, rgb(3, 50, 94), rgb(163, 207, 228));
    margin-top: 0px;
    background-size: 100% 5px;
    animation: loading 60s ease-in-out forwards;
}

@keyframes loading {
    to {
        width: 100%;
    }
}